<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1 + 1 = [[${1 + 1}]]</p>

<p>routingContext: <span data-th-text="${routingContext}"></span></p>
<p>routingContext.normalisedPath(): <span data-th-text="${routingContext.normalisedPath()}"></span></p>
<p data-th-text="'routingContext.get(\'bar\'):' + ${routingContext.get('bar')}"></p>
<p data-th-text="'routingContext.request().params().get(\'param1\'):' + ${routingContext.request().params().get('param1')}"></p>
<p data-th-text="'routingContext.request().params().get(\'param2\'):' + ${routingContext.request().params().get('param2')}"></p>

<p>context: [[${context}]]</p>
<p>context.config: [[${context.config}]]</p>
</body>
</html>
