<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1 + 1 = [[${1 + 1}]]</p>
<p>ctx: <span data-th-text="${ctx}"></span></p>
<p>ctx.normalisedPath(): <span data-th-text="${ctx.normalisedPath()}"></span></p>
<p data-th-text="${ctx.get('bar')}"></p>
<p data-th-text="${ctx.request().params().get('param1')}"></p>
<p data-th-text="${ctx.request().params().get('param2')}"></p>
<p>context: [[${context}]]</p>
<p>context.config: [[${context.config}]]</p>
</body>
</html>
